<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var bb=[{
        "tdTree": "1>5>dscdssadsad",
            "level": 3,
            "updateTime": 1492137238000,
            "id": "dscdssadsad",
            "nameTree": "主体结构>砌体结构>钢结构",
            "procedureTypeName": "钢结构",
            "isLeaf": "1",
            "parentId": "5"
    },{
        "tdTree": "1>5>dscdssadsad",
        "level": 3,
        "updateTime": 1492137238000,
        "id": "5",
        "nameTree": "主体结构>砌体结构>钢结构",
        "procedureTypeName": "钢结构",
        "isLeaf": "1",
        "parentId": "dgfhgj"
    },{
        "tdTree": "1>5>dscdssadsad",
        "level": 3,
        "updateTime": 1492137238000,
        "id": "dgfhgj",
        "nameTree": "主体结构>砌体结构>钢结构",
        "procedureTypeName": "钢结构",
        "isLeaf": "1",
        "parentId":""
    },{
        "tdTree": "1>5>dscdssadsad",
        "level": 3,
        "updateTime": 1492137238000,
        "id": "dscdssadsad",
        "nameTree": "主体结构>砌体结构>钢结构",
        "procedureTypeName": "钢结构",
        "isLeaf": "1",
        "parentId": "5"
    },{
        "tdTree": "1>5>dscdssadsad",
        "level": 3,
        "updateTime": 1492137238000,
        "id": "dscdssadsad",
        "nameTree": "主体结构>砌体结构>钢结构",
        "procedureTypeName": "钢结构",
        "isLeaf": "1",
        "parentId": "5"
    },{
        "tdTree": "1>5>dscdssadsad",
        "level": 3,
        "updateTime": 1492137238000,
        "id": "dscdssadsad",
        "nameTree": "主体结构>砌体结构>钢结构",
        "procedureTypeName": "钢结构",
        "isLeaf": "1",
        "parentId": "5"
    }]
</script>

</body>
</html>